*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(#364156,#011638);
    display: flex;
    justify-content: center;
    align-items: center;
}
#drop-area{
    width: 500px;
    height: 450px;
    padding:30px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}
#img-view{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #214E34;
    background-color: #CDCDCD;
    background-position: center;
    background-size: cover;
}
#img-view img{
    width: 100px;
    margin-top: 50px;
}
#img-view span{
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;

}
